<!-- Loop over each object in the projects array -->
{{#each BlogPosts as |BlogPost|}}
  <div class="row mb-4 BlogPost">
    <div class="col-md-5">
      <h2>
        <!-- Call helper function with triple brackets to render the emoji span as HTML -->
        <a href="/BlogPost/{{BlogPost.id}}">{{BlogPost.title}}</a>
      </h2>
      <p>
        {{BlogPost.content}}
      </p>
      <p>Created by
        {{BlogPost.user.name}}
        on
        {{format_date BlogPost.publishedAt}}</p>
    </div>
    <div class="col-md-7">
      <p>
        {{BlogPost.content}}
      </p>
    </div>
  </div>
{{/each}}